.the-job{
    max-width: 100%;
    margin-top: 111px;
}


    .heading{
        max-width: 820px;
        width: 100%;
padding-top: 50px;
 .heading__navbar{
    .heading__items{
        font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
cursor: pointer;

&:hover{
color: gray;
}
&:active{
color: #fff;
}

    }
    .tel-link2{
       padding: 10px 22px; 
        font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;

background: #FFFEFE;
border-radius: 20px;
color: #2E2E2E;
&:hover{
background: gray;
color: #fff;
}
}
 }
}  


.job{
    margin-top: 77px;
    .job-header{
        font-family: 'Prompt';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 76px;

color: #FFFFFF;

    }
}

.the-job-bg{
    margin-top: -10px;
    background-image: url(../img/Mask\ Group.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.job-img{
    width: 100%;
}

.cars-arrows{
    margin-top: 92px;
display: flex;
.arrows{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.job-cars{
    display: flex;
    gap: 18px;
    align-items: center;  
    padding-bottom: 154px;
}
}

.humburger{
    display: none;
 
}
@media only screen and (max-width:800px){
    

    
    .heading{

    .heading__navbar{
        display: none;
    }
    .humburger{
        display: block;
    }
}
}

.cars-btn{
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    &:hover{
       background: gray;
    }
    &:active{
        background: transparent;
    }
}

@media only screen and(max-width:800px) {
    
    .cars-arrows{
        width: 279px;
        margin: 0 auto;
    }
    .job-cars{
        display: flex;
        align-items: center;
        flex-direction: column;      
        gap: 18px; 
        .arrows{
            display: none;
        }   
    }
}

@media only screen and(max-width:450px) {
.cars-btn{
    display: block;
}
.job{

align-items: center;
.job-header{
    font-size: 50px;
}
}
.cars-arrows{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
        gap: 50px ;
}
    
}
